body {
    background-color: #f8f9fa;
}

#logo {
    max-height: 50px;
}

.card-header {
    background-color: #e9ecef;
    border-bottom: 1px solid #dee2e6;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #198754; 
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.total-row td {
    font-weight: bold;
    background-color: #B83A38 !important; /* Rosso */
    color: white;
}

.positive-value {
    background-color: #28a745 !important; /* Verde */
    color: white !important;
    font-weight: bold;
}

.negative-value {
    background-color: #dc3545 !important; /* Rosso */
    color: white !important;
    font-weight: bold;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
    max-width: 100%;
}

/* Stili per i risultati */
#summary-results, #roi-analysis, #roi-analysis-2 {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .375rem; /* Corrisponde al border-radius di Bootstrap */
}

.fs-5 {
    font-size: 1.25rem !important;
}
